@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


    ::-webkit-scrollbar {
        width:13px;
      }
      
      ::-webkit-scrollbar-track {
        background:black;
      }
      
      ::-webkit-scrollbar-thumb {
        background-color:white;
        border-radius: 10px;
        border: 3px solid black;
      }
      
      ::-webkit-scrollbar-thumb:hover {
        background-color:whitesmoke;
      }
    

